﻿<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum</title>
  @Styles.Render("~/Content/css")
  @Styles.Render("~/Content/bootstrap.css")
  @Styles.Render("~/Content/bootstrap-theme.css")
  @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  <div class="container">
    <div class="row">
     <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
      </div>

      <div id="nav-menu" class="collapse navbar-collapse">
       <ul class="col-xs-12 nav navbar-nav">
        <li>@Html.ActionLink("Index", "Index", "Home")</li>
        @Html.Partial("_LoginPartial")
       </ul>
      </div>
     </div>
    </div>

    <div class="row">
     @RenderBody()
    </div>

    <br/>
    <div class="row">
     <div class="panel panel-default text-center">
      <div class="panel-footer">
       <small>&copy; Damian Giebas 2015 - @DateTime.Now.Year</small>
      </div>
     </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 </div>
</body>
</html>
