%div.col-xs-12.col-sm-6.col-md-push-3
  = form_for(:session, url: sessions_path, html: { class: "form" } ) do |f|

    %div.form-group
      = f.label('Użytkownik')
      = f.text_field(:login, placeholder: "Użytkownik", class: "form-control")

    %div.form-group
      = f.label('Hasło')
      = f.password_field(:password, placeholder: "Hasło", class: "form-control")

    %button.btn.btn-default.btn-primary
      Login

    = link_to "Na główną", root_path, class:"btn btn-default"