%div#button-panel.col-xs-12
  = link_to "Powrót", forum_topics_path(@forum), class: "btn btn-link pull-right"

%div.col-xs-12
  %div.row
    - if @posts
      %div.table-responsive
        %table.table.table-striped
          %tbody
            - @posts.each do |post|
              %tr
                %td.col-xs-3
                  %div.col-xs-12
                    = post.user.login
                  %div.col-xs-12
                    = post.created_at
                %td.col-xs-8
                  = post.content
                %td.col-xs-1
                  - if  current_user.admin
                    = link_to post, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-link pull-right" do
                      %span.glyphicon.glyphicon-trash
                  - if current_user.admin || current_user.id == post.user_id
                    = link_to edit_post_path(post), class: "btn btn-link pull-right" do
                      %span.glyphicon.glyphicon-edit

%div.col-xs-12.col-sm-6.col-sm-push-3
  %div.row
    = bootstrap_nested_form_for @post, url: new_post_path(@post.topic_id) do |f|
      = f.text_area :content, placeholder: "Wiadomość", label: "Wiadomość"

      = f.submit 'Wyślij post', class: "btn btn-primary"

%div.col-xs-12
  = link_to "Do góry", "#button-panel", class: "btn btn-link pull-right"
