%div.col-xs-12.col-sm-6.col-sm-push-3
  = bootstrap_form_for @topic do |f|
    = f.text_field :name, placeholder: "Nazwa", label: "Nazwa"

    = f.submit 'Stwórz temat', class: "btn btn-primary"
    = link_to 'Anuluj', forum_topics_path(@topic.forum), class: "btn btn-default"
