%div.col-xs-12.col-sm-6.col-sm-push-3
  = bootstrap_nested_form_for @topic, url: new_topic_path(@topic.forum) do |f|
    = f.text_field :name, placeholder: "Nazwa", label: "Nazwa"
    = f.fields_for :posts do |p|
      = p.text_area :content, placeholder: "Wiadomość", label: "Wiadomość"

    = f.submit 'Stwórz temat', class: "btn btn-primary"
    = link_to 'Anuluj', forum_topics_path(@topic.forum), class: "btn btn-default"
