%div.panel.panel-default
  %div.panel-heading
    %form.form.form-horizontal{ action: '#', onsubmit: 'return false;' }
      %label.control-label.damian-padding-bottom
        = @forum.name

      = link_to "Nowy temat", new_topic_path(@forum), class: "btn btn-default visible-md visible-lg pull-right"
      = link_to "Nowy temat", new_topic_path(@forum), class: "btn btn-default btn-sm btn-block visible-xs visible-sm"

  %div.panel-body
    %div.table-responsive
      %table.table.table-striped
        %tbody
          - @topic_list.each do |topic|
            %tr
              %td
                = link_to topic.name, topic_posts_path(topic), class: "btn btn-link"
                %span.label.label-default.pull-right{ style: 'margin-top: 9px;' }
                  = topic.user.login
                  = topic.created_at.strftime('%d %B %Y %H-%M-%S')
              - if current_user.admin
                %td.col-xs-2
                  = link_to topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-link pull-right" do
                    %span.glyphicon.glyphicon-trash
                  = link_to edit_topic_path(topic), class:"btn btn-link pull-right" do
                    %span.glyphicon.glyphicon-edit
