﻿@model Forum.Models.Post

@{
    ViewBag.Title = "Delete";
}

<div class="col-xs-12 col-sm-6 col-sm-push-3">
    @using (Html.BeginForm())
    {
        <form class="form">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Czy na pewno chcesz usunąć element</label> "@Html.DisplayFor(model => model.Context)" <strong>?</strong>
            </div>
            <div class="form-group">
                <input type="submit" value="Usuń" class="btn btn-danger" />
                <a href="@Url.Action("Index", "Posts", new { TopicId = ViewBag.TopicId })" class="btn btn-default">Anuluj</a>
            </div>
            
        </form>
    }
</div>