﻿@model Forum.Models.Post

@{
    ViewBag.Title = "Edit";
}

<div class="col-xs-12 col-sm-6 col-sm-push-3">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <form class="form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Context, htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Context, new { @class = "form-control", @placeholder = "Treść" })
                @Html.ValidationMessageFor(model => model.Context, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                <a href="@Url.Action("Index", "Posts", new { TopicId = ViewBag.TopicId })" class="btn btn-default">Anuluj</a>
            </div>
        </form>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
