﻿@model IEnumerable<Forum.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>
    @ViewBag.TopicName
</h2>

<div id="button-panel" class="col-xs-12">
    <a href="@Url.Action("Create", "Posts", new { TopicId = ViewBag.TopicId })" class="btn btn-link">Create New</a>
    <a href="@Url.Action("Index", "Topics", new { CategoryId = ViewBag.CategoryId })" class="btn btn-link pull-right">Back</a>
</div>
<div class="col-xs-12">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-xs-2">
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td class="col-xs-8">
                                @Html.DisplayFor(modelItem => item.Context)
                            </td>
                            @if (Request.IsAuthenticated)
                            {
                                <td class="col-xs-1">
                                    @if (this.User.Identity.Name == "Admin")
                                    {
                                        <a href="@Url.Action("Delete", "Posts", new { id = item.Id, TopicId = ViewBag.TopicId })" class="btn btn-link pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                    @if (this.User.Identity.Name == "Admin" || this.User.Identity.Name == item.Author)
                                    {
                                        <a href="@Url.Action("Edit", "Posts", new { id = item.Id, TopicId = ViewBag.TopicId })" class="btn btn-link pull-right"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <a href="#button-panel" class="btn btn-link pull-right">Go top</a>
</div>