﻿@model IEnumerable<Forum.Models.Topic>

@{
    ViewBag.Title = "Index";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <div class="form form-horizontal">
                    <label class="control-label damian-padding-bottom">
                        @ViewBag.CategoryName
                    </label>
                    <a href="@Url.Action("Create", "Topics", new { CategoryId = ViewBag.CategoryId })" class="btn btn-default pull-right">Nowy temat</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Index", "Posts", new { TopicId = item.Id })" class="btn btn-link">@Html.DisplayFor(modelItem => item.Name)</a>
                                <span class="label label-default pull-right" style="margin-top: 9px;">
                                    @Html.DisplayFor(modelItem => item.Author)
                                </span>
                            </td>
                            @if (Request.IsAuthenticated)
                            {
                                <td class="col-xs-2">
                                    @if (this.User.Identity.Name == "Admin")
                                    {
                                        <a href="@Url.Action("Delete", "Topics", new { id = item.Id, CategoryId = ViewBag.CategoryId })" class="btn btn-link pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    }
                                    @if (this.User.Identity.Name == "Admin" || this.User.Identity.Name == item.Author)
                                    {
                                        <a href="@Url.Action("Edit", "Topics", new { id = item.Id, CategoryId = ViewBag.CategoryId })" class="btn btn-link pull-right"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>