{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="col-xs-12 col-sm-6 col-sm-push-3">
    <form class="form" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_form form2 %}
      {% buttons submit="Stwórz temat" %}
        <a href="{% url 'forum' forum.pk %}" class="btn btn-default">Anuluj</a>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}