{% extends 'base.html' %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <form class="form form-horizontal" action="#" onsubmit="return false;">
        <label class="control-label damian-padding-bottom">{{ forum.name }}</label>
        <a href="{% url 'createTopic' forum.pk %}" class="btn btn-default visible-md visible-lg pull-right">Nowy temat</a>
        <a href="{% url 'createTopic' forum.pk %}" class="btn btn-default btn-sm btn-block visible-xs visible-sm">Nowy temat</a>
      </form>
    </div>
    <div class="panel-body">
      {% if topic_list %}
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              {% for topic in topic_list %}
                <tr>
                  <td>
                    <a href="{% url 'posts' topic.pk %}" class="btn btn-link">{{ topic.name }}</a>
                    <span class="label label-default pull-right" style="margin-top: 9px;">{{ topic.author.username }} {{ topic.created_at }}</span>
                  </td>
                  {% if request.user.is_staff %}
                    <td class="col-xs-2">
                        <a href="{% url 'deleteTopic' topic.pk %}" class="btn btn-link pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        <a href="{% url 'updateTopic' topic.pk %}" class="btn btn-link pull-right"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
