{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div id="button-panel" class="col-xs-12">
    <a href="{% url 'forum' forum.pk %}" class="btn btn-link pull-right">Powrót</a>
  </div>
  <div class="col-xs-12">
    <div class="row">
      {% if post_list %}
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              {% for post in post_list %}
                <tr>
                  <td class="col-xs-3">
                    <div class="col-xs-12">{{ post.author.username }}</div>
                    <div class="col-xs-12">{{ post.created_at }}</div>
                  </td>
                  <td class="col-xs-8">{{ post.content }}</td>
                  <td class="col-xs-1">
                    {% if request.user.is_staff %}<a href="{% url 'deletePost' post.pk %}" class="btn btn-link pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>{% endif %}
                    {% if request.user.is_staff or request.user.id == post.author.id %}<a href="{% url 'updatePost' post.pk %}" class="btn btn-link pull-right"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>{% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  </div>
  {% if form %}
    <div class="col-xs-12 col-sm-6 col-sm-push-3">
      <div class="row">
        <form class="form" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons submit="Wyślij post" %}
          {% endbuttons %}
        </form>
      </div>
    </div>
  {% endif %}
  <div class="col-xs-12">
    <a href="#button-panel" class="btn btn-link pull-right">Do góry</a>
  </div>
{% endblock %}
