<!DOCTYPE html>
{% load bootstrap3 staticfiles i18n %}
{% load url from future %}
<html lang="en">
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
  	<title>{% block title %}Forum{% endblock %}</title>
    <!-- CSS Bootstrap -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% bootstrap_theme_url %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

    <!-- JS Bootstrap i jQuery -->
    {% bootstrap_javascript jquery=True %}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>

    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="col-xs-12 nav navbar-nav">
              <li class="{% if "index" in request.path %}active{% endif %} {% ifequal request.path "/" %}active{% endifequal %}">
                <a href="{% url 'index' %}">{% trans "Index" %}</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="{% if "logout" in request.path %}active{% endif %} navbar-right">
                  <a href="{% url 'logout' %}">{% trans "Wyloguj" %} ( {{ request.user.username }} )</a>
                </li>
              {% else %}
                <li class="{% if "login" in request.path %}active{% endif %} navbar-right" >
                  <a href="{% url 'login' %}">{% trans "Zaloguj" %}</a>
                </li>
                <li class="{% if "register" in request.path %}active{% endif %} navbar-right" >
                  <a href="{% url 'register' %}">{% trans "Zarejestruj" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
       </nav>
      </div>
      {% if messages %}
        <div class="row">
            {% for message in messages %}
              <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
              </div>
            {% endfor %}
        </div>
      {% endif %}
      <div class="row">
        {% block content %}
        {% endblock %}
      </div>
      <br/>
      <div class="row">
        <div class="panel panel-default text-center">
          <div class="panel-footer">
            <small>&copy; Damian Giebas 2015 - {% now "Y" %}</small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
