{% extends 'base.html' %}

{% block content %}
  {% if forum_list %}
    {% for forum in forum_list %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9">
              <a href="{% url 'forum' forum.pk %}" class="btn btn-link"><div class="lead">{{ forum.name }}</div></a>
            </div>
            <div class="col-xs-3">
              {% if request.user.is_staff %}
                <a href="{% url 'deleteForum' forum.pk %}" class="btn btn-link pull-right"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                <a href="{% url 'updateForum' forum.pk %}" class="btn btn-link pull-right"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="panel-body">
          <small>{{ forum.comment }}</small>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {% if request.user.is_staff or perms.add_forum %}
    <div class="col-xs-12">
      <a href="{% url 'createForum' %}" class="btn btn-link">Stwórz forum</a>
    </div>
  {% endif %}
{% endblock %}
