{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="col-xs-12 col-sm-6 col-sm-push-3">
    <form class="form" method="POST">
      {% csrf_token %}
      <div class="form-group">
        {% bootstrap_label "Czy na pewno chcesz usunąć element" %} "{{ object }}"<strong>?</strong>
      </div>
      {% buttons %}
        {% bootstrap_button "Usuń" button_class="btn btn-danger" %}
        <a href="{% url 'index' %}" class="btn btn-default">Anuluj</a>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}