%div.col-xs-12.col-sm-6.col-sm-push-3
  = bootstrap_form_for forum do |f|
    = f.text_field :name, placeholder: "Nazwa", label: "Nazwa"

    = f.text_field :comment, placeholder: "Opis", label: "Opis"

    = f.number_field :order_nr, placeholder: "Liczba porządkowa", label: "Liczba porządkowa"

    = f.submit 'Zapisz', class: "btn btn-primary"
    = link_to 'Na główną', root_path, class: "btn btn-default"