- forums.each do |forum|
  %div.panel.panel-default
    %div.panel-heading
      %div.row
        %div.col-xs-9
          = link_to forum_topics_path(forum), class: "btn btn-link" do
            %div.lead= forum.name

        - if current_user && current_user.admin
          %div.col-xs-3.pull-right
            = link_to forum, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-link pull-right", alt:"Delete" do
              %span.glyphicon.glyphicon-trash
            = link_to edit_forum_path(forum), class:"btn btn-link pull-right", alt:"Edit" do
              %span.glyphicon.glyphicon-edit

    %div.panel-body
      %small
        = forum.comment

- if current_user && current_user.admin
  %div.col-xs-12
    = link_to 'Stwórz forum', new_forum_path, class: "btn btn-link"
