{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="col-xs-12">
    {% if form %}
      <div class="col-xs-12 col-sm-6 col-sm-push-3">
        <form class="form" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button content="Login" button_class="btn btn-default btn-primary" %}
          <a href="{% url 'index' %}" class="btn btn-default">Na główną</a>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}
