%div.col-xs-12.col-sm-6.col-sm-push-3
  = bootstrap_form_for user do |f|
    = f.text_field :login, placeholder: "Nazwa użytkownika", label: "Nazwa użytkownika", help: "Wymagane. 30 znaków lub mniej. Tylko litery, cyfry i znaki @/./+/-/_."

    = f.password_field :password, placeholder: "Hasło", label: "Hasło"

    = f.password_field :password_confirmation, placeholder: "Potwierdzenie hasła", label: "Potwierdzenie hasła", help: "Podaj powyższe hasło w celu weryfikacji."

    %button.btn.btn-default.btn-primary
      Zapisz

    = link_to "Na główną", root_path, class:"btn btn-default"
